@model Sakura.AspNetCore.IPagedList<AlexWilkinson.Models.Blog>

@using Sakura.AspNetCore;
@using Microsoft.AspNetCore.Identity
@using AlexWilkinson.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Blog Home";
}

<h2>Index</h2>
@using (Html.BeginForm("Index","Blog", FormMethod.Get))
{
    <p>
        Search Posts: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>

}

@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create"><i class="fa fa-pencil"></i> Create a Post</a>
    </p>
}

@foreach (var item in Model)
{

    var contentBlurb = item.Body;
    var subLen = 200;
    if(contentBlurb.Length > subLen)
    {
        contentBlurb = contentBlurb.Substring(0, subLen);
    }

    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.DisplayFor(modelItem => item.Title)
        </div>
        <div class="panel-body">
            @Html.DisplayFor(modelItem => contentBlurb)

        </div>

        @if (SignInManager.IsSignedIn(User))
        {
            <div class="panel-footer">
               <a asp-action="Edit" asp-route-id="@item.ID"> Edit</a> | 
               <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </div>
        }

    </div>

}


<!--Pagination logic to generate the dynamic pagation-->
@if (Model.TotalPage != 1)
{

    <nav aria-label="Page navigation">
        @{ 
            var previousPage = Model.PageIndex;
            var nextPage = Model.PageIndex;
            if (previousPage != 1)
            {
                previousPage -= 1;

            }
            if (Model.PageIndex != Model.TotalPage)
            {
                nextPage += 1;

            }
        }
        <ul class="pagination">
            @if (Model.PageIndex != 1)
            {
                <li>
                    <a href="?page=@previousPage" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }

            @for (int i = 1; i < Model.TotalPage + 1; i++)
            {
                <li class=@(Model.PageIndex == i ? "active" : "") ><a href="?page=@i">@i</a></li>
            }

            @if (Model.PageIndex != Model.TotalPage)
            {
                <li>
                    <a href="?page=@nextPage" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }

        </ul>

    </nav>
    <div id="pagination-total-count">
        Page @(Model.TotalPage < Model.PageIndex ? 0 : Model.PageIndex) of @Model.TotalPage
    </div>
}

